body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h2 {
font-family: Manrope;
font-size: 41px;
font-weight: 700;
line-height: 56.01px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
