.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &:nth-child(2n + 3) {
    background-color: var(--dark-background-color);
    color: var(--white-text-color);
    & .btn,
    & input,
    & select,
    & textarea {
      border-color: var(--border-color-on-dark-background);
    }
  }

}

//   @media screen and (min-width: 480px) {
//     .section {
//         padding-top: 60px;
//         padding-bottom: 60px;
//     }
//   }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
