.footer {
  background-color: var(--dark-background-color);
  z-index: 1;

  &__social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;

    .social-link {
      display: inline-block;
      width: 32px;
      height: 32px;
      transition: transform var(--transition-duration)
        var(--transition-timing-function);

      &:hover,
      &:focus {
        transform: scale(1.1);
      }

      .icon {
        width: 32px;
        height: 32px;
        fill: var(--white-text-color);

        transition: fill var(--transition-fill-color);

        &:hover,
        &:focus {
          fill: var(--accent-color);
        }
      }
    }

    img {
      //   width: 100%;
      //   height: auto;
      //   fill: "#F6F6F6";
      //   transition: var(--transition-fill-color);
      //   &:hover,
      //   &:focus {
      //      fill: var(--accent-color);
      //   }
    }
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 32px;
    margin-top: 52px;
    width: 100%;
    font-family: Helvetica;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 60px;
      gap: 30px;
    }

    a {
      color: var(--white-text-color);
      text-decoration: none;
      font-size: 14px;
      transition: color var(--transition-fill-color);
      @media (min-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 1280px) {
        font-size: 24px;
      }

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &__copy {
    margin-top: 60px;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    opacity: 0.7;
    @media (min-width: 768px) {
      margin-top: 100px;
      margin-bottom: -48px;
      font-size: 18px;
    }
  }
}
