.header {
  position: fixed;
  // left: 0;
  // top: 30px;
  // right: 0;
  z-index: 10;
  // padding: 0 20px;
  padding: 32px 20px;

  
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(7.5px);


  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    font-size: 15px;
    line-height: 17px;

  }
}

.header__nav__btn {
  display: none;
}

.header__logo {
  &__img {
    margin-right: 4px;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    color: #040404;
  }

  &--accent {
    color: #e7a805;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity var(--transition-duration) var(--transition-timing-function),
      visibility var(--transition-duration) var(--transition-timing-function);
  }
}

.header__nav-link {
  color: #040404;
  font-size: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #e7a805;
    transition: width var(--transition-duration)
      var(--transition-timing-function);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .header__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

@media (max-width: 1279px) {
  .header__nav__btn {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    // padding: 0;
    cursor: pointer;
  }

  .header__nav__btn::before,
  .header__nav__btn::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: #040404;
    display: block;
    margin-bottom: 4px;
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .header__nav__btn::after {
    margin-bottom: 0;
    width: 24px;
    margin-left: auto;
  }

  .header__nav__btn-line {
    background-color: #040404;
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    opacity: 1;
    transition: opacity var(--transition-duration)
      var(--transition-timing-function);
  }

  .header__nav__btn.header__nav__btn--active {
    .header__nav__btn-line {
      opacity: 0;
      transition: opacity var(--transition-duration)
        var(--transition-timing-function);
    }
    &::after {
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
      background-color: #f4f4f4;
    }

    &::before {
      transform: translateY(6px) rotate(135deg);
      background-color: #f4f4f4;
    }
  }
  .header__nav__list {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;

    background-image: url("../images/mobile-menu.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #040404;
    z-index: -1;
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding-top: 70px;
    padding-left: 40px;
    transform: translateY(-100%);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
    overflow: auto;
    &--active {
      transform: translate(0);
    }
  }

  .header__nav-link {
    color: #f6f6f6;
    font-size: 24px;
  }
}
