// // .hero__h1  {
// //     background-color: rgb(240, 255, 36);
// //     color: rgb(255, 0, 0);

// // }

// .loading-dots {
//     display: inline-block;
// }

// .loading-dots span {
//     width: 8px;
//     height: 8px;
//     background: #333;
//     border-radius: 50%;
//     display: inline-block;
//     margin: 0 2px;
//     animation: dot 1s infinite ease-in-out;
// }

// @keyframes dot {
//     0% {opacity: 1;}
//     50% {opacity: 0.2;}
//     100% {opacity: 1;}
// }
// .loading-dots span:nth-child(2) {
//     animation-delay: 0.2s;
// }

// .loading-dots span:nth-child(3) {
//     animation-delay: 0.4s;
// }

.hero {
  background-image: url(../images/HERO-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}
