// .hero__h1  {
//     background-color: rgb(240, 255, 36);
//     color: rgb(255, 0, 0);
    
// }

.loading-dots {
    display: inline-block;
}

.loading-dots span {
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    animation: dot 1s infinite ease-in-out;
}

@keyframes dot {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}
.loading-dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
    animation-delay: 0.4s;
}





.loading-bees {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bee {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 5px; /* Spacing between bees */
    animation: bounce 1s infinite; /* Animation */
}

/* Animation for the bees */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Bounce effect */
    }
}

/* Delay for each bee to create a sequential effect */
.bee:nth-child(1) {
    animation-delay: 0s;
}

.bee:nth-child(2) {
    animation-delay: 0.2s;
}

.bee:nth-child(3) {
    animation-delay: 0.4s;
}