<div id="contact-us" class="contact-us container">
  <p>
    заповнюйте форму і ми зв’яжемося з вами або зв’яжіться з нами будь-яким
    зручним для Вас способом
  </p>
  <h2 class="contact-us__h2">Наші<br />контакти</h2>
  <form onsubmit="submitForm(event)" id="contactForm" class="contact-us__form">
    <div class="form-group">
      <!-- <label for="service">Оберіть послугу</label> -->
      <select id="service" name="service" required>
        <option value="" disabled selected>Оберіть послугу</option>
        <option value="general">Загальний запит</option>
        <option value="support">Підтримка</option>
        <option value="feedback">Зворотній зв'язок</option>
      </select>
    </div>
    <div class="form-group">
      <!-- <label for="name">Ім'я:</label> -->
      <input type="text" id="name" name="name" placeholder="Ім'я" required />
    </div>

    <div class="form-group">
      <!-- <label for="email">E-mail:</label> -->
      <input
        type="email"
        id="email"
        name="email"
        placeholder="E-mail"
        required
      />
    </div>

    <div class="form-group">
      <!-- <label for="tel">Телефон:</label> -->
      <input
        type="tel"
        id="tel"
        name="tel"
        pattern="\+?[0-9]{1,4}[0-9]{6,10}"
        placeholder="Телефон: +38 (000) 000 00 00"
        required
      />
    </div>

    <div class="form-group">
      <!-- <label for="message">Коментар:</label> -->
      <textarea
        id="message"
        name="message"
        placeholder="Коментар"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn">Надіслати<span></span></button>
    </div>
  </form>

  <div id="responseMessage"></div>

    <div class="footer__created-svg">
      <svg class="icon-webbees icon-bee">
        <use xlink:href="../images/svg/sprite.svg#icon-Bee"></use>
      </svg>
      <svg class="icon-webbees icon-web">
        <use xlink:href="../images/svg/sprite.svg#icon-Web"></use>
      </svg>
      <svg class="icon-webbees icon-bees">
        <use xlink:href="../images/svg/sprite.svg#icon-Bees"></use>
      </svg>
    </div>

  <p>Україна 79041</p>
  <p>м. Львів, вул. Кондукторська, 68/4</p>
  <p>Телефон: +38 068 293 25 29</p>
  <p>ПН - НД | 09:00 - 19:00</p>
  <iframe src="https://www.google.com/maps/embed?pb=!4v1752522497344!6m8!1m7!1s4g9sVVfYAYo0XKt36WRImQ!2m2!1d49.82769986504381!2d23.98420123587525!3f331.33472!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
