<header class="header">
    <div class="container">
      <nav class="navigation">
        <button class="menu__btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul class="menu list">
          <li class="menu__item"><a href="#" class="menu__link">SHOP</a></li>
          <li class="menu__item"><a href="#" class="menu__link">GAMES</a></li>
          <li class="menu__item"><a href="#" class="menu__link">METAVERSE</a></li>
        </ul>
  
        <a href="#" class="logo">
          <img class="logo__link" src="./images/logo.svg" alt="" />
        </a>
  
        <a href="#" class="basket">
          <img src="./images/basket.svg" alt="" class="basket__link" />
          <!-- <span>1</span> -->
        </a>
      </nav>
    </div>
  </header>