<div class="container portfolio__container">
  <div class="portfolio__title__container">
    <h3 class="portfolio__title">НАШІ</h3>
    <h3 class="portfolio__title">ПРОЄКТИ</h3>
  </div>
  <ul class="portfolio__list">
    <li class="portfolio__item">
      <picture>
        <source
          srcset="
            ../images/portfolio/screenSquoosh/brovkodesktop.jpg     1x,
            ../images/portfolio/screenSquoosh/brovkodesktop@2x.webp 2x,
            ../images/portfolio/screenSquoosh/brovkodesktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/portfolio/tabletSquoosh/brovkotablet.jpg     1x,
            ../images/portfolio/tabletSquoosh/brovkotablet@2x.webp 2x,
            ../images/portfolio/tabletSquoosh/brovkotablet@3x.webp 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/portfolio/mobilSquoosh/brovkomobile.jpg     1x,
            ../images/portfolio/mobilSquoosh/brovkomobile@2x.webp 2x,
            ../images/portfolio/mobilSquoosh/brovkomobile@3x.webp 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="portfolio__img"
          src="../images/portfolio/mobilSquoosh/brovkomobile.jpg"
          alt="Brovko"
        />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source
          srcset="
            ../images/portfolio/screenSquoosh/brovkoproddesktop.jpg     1x,
            ../images/portfolio/screenSquoosh/brovkoproddesktop@2x.webp 2x,
            ../images/portfolio/screenSquoosh/brovkoproddesktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/portfolio/tabletSquoosh/brovkoprodtablet.jpg     1x,
            ../images/portfolio/tabletSquoosh/brovkoprodtablet@2x.webp 2x,
            ../images/portfolio/tabletSquoosh/brovkoprodtablet@3x.webp 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/portfolio/mobilSquoosh/brovkoprodmobile.jpg     1x,
            ../images/portfolio/mobilSquoosh/brovkoprodmobile@2x.webp 2x,
            ../images/portfolio/mobilSquoosh/brovkoprodmobile@3x.webp 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="portfolio__img"
          src="../images/portfolio/mobilSquoosh/brovkoprodmobile.jpg"
          alt="Brovko"
        />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source
          srcset="
            ../images/portfolio/screenSquoosh/filmdesktop.jpg     1x,
            ../images/portfolio/screenSquoosh/filmdesktop@2x.webp 2x,
            ../images/portfolio/screenSquoosh/filmdesktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/portfolio/tabletSquoosh/filmtablet.jpg     1x,
            ../images/portfolio/tabletSquoosh/filmtablet@2x.webp 2x,
            ../images/portfolio/tabletSquoosh/filmtablet@3x.webp 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/portfolio/mobilSquoosh/filmmobile.jpg     1x,
            ../images/portfolio/mobilSquoosh/filmmobile@2x.webp 2x,
            ../images/portfolio/mobilSquoosh/filmmobile@3x.webp 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="portfolio__img"
          src="../images/portfolio/mobilSquoosh/filmmobile.jpg"
          alt="Brovko"
        />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source
          srcset="
            ../images/portfolio/screenSquoosh/petsdesktop.jpg     1x,
            ../images/portfolio/screenSquoosh/petsdesktop@2x.webp 2x,
            ../images/portfolio/screenSquoosh/petsdesktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/portfolio/tabletSquoosh/petstablet.jpg     1x,
            ../images/portfolio/tabletSquoosh/petstablet@2x.webp 2x,
            ../images/portfolio/tabletSquoosh/petstablet@3x.webp 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/portfolio/mobilSquoosh/petsmobile.jpg     1x,
            ../images/portfolio/mobilSquoosh/petsmobile@2x.webp 2x,
            ../images/portfolio/mobilSquoosh/petsmobile@3x.webp 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="portfolio__img"
          src="../images/portfolio/mobilSquoosh/petsmobile.jpg"
          alt="Brovko"
        />
      </picture>
    </li>
    <li class="portfolio__item">
      <picture>
        <source
          srcset="
            ../images/portfolio/screenSquoosh/yourpetdesktop.jpg     1x,
            ../images/portfolio/screenSquoosh/yourpetdesktop@2x.webp 2x,
            ../images/portfolio/screenSquoosh/yourpetdesktop@3x.webp 3x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ../images/portfolio/tabletSquoosh/yourpettablet.jpg     1x,
            ../images/portfolio/tabletSquoosh/yourpettablet@2x.webp 2x,
            ../images/portfolio/tabletSquoosh/yourpettablet@3x.webp 3x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../images/portfolio/mobilSquoosh/yourpetmobil.jpg     1x,
            ../images/portfolio/mobilSquoosh/yourpetmobil@2x.webp 2x,
            ../images/portfolio/mobilSquoosh/yourpetmobil@3x.webp 3x
          "
          media="(max-width: 767px)"
        />
        <img
          class="portfolio__img"
          src="../images/portfolio/mobilSquoosh/yourpetmobil.jpg"
          alt="Brovko"
        />
      </picture>
    </li>
  </ul>
</div>
