<div class="container whatWeDo__container">
  <p class="whatWeDo__text-top">
    Найкращий результат досягається завдяки працьовитості та увазі до деталей
  </p>
  <h2 class="whatWeDo__title">МИ ПРАЦЮЄМО, ЯК БДЖОЛИ!</h2>
  <div class="whatWeDo__img-container">
    <img
      class="whatWeDo__img"
      src="../images/whatWeDo/Leonardo.png"
      alt="leo"
      width="230px"
      height="230px"
    />
    <img
      class="whatWeDo__img"
      src="../images/whatWeDo/Leonardo.png"
      alt="leo"
      width="400px"
      height="400px"
    />
    <img
      class="whatWeDo__img"
      src="../images/whatWeDo/Leonardo.png"
      alt="leo"
      width="230px"
      height="230px"
    />
  </div>
  <p class="whatWeDo__text-bottom">
    Наша команда — це група креативних і працьовитих розробників, дизайнерів і
    стратегів, які працюють над створенням вебрішень, що допомагають вашим ідеям
    процвітати
  </p>
</div>
